=semantic_form_for @article do |f|
  = hidden_field_tag 'previous_page', @previous_page
  = f.inputs :title, :author, :body
  = f.buttons do
    = f.submit "Save Changes", title: "Submit your knowledge to be subsumed by the overmind"
