- title "All Articles"
- subtitle "...with a name .com hipsters love!"
%section
  %h1 All the World's Articles
  = link_to "Create an Article", new_article_path, title: "Merge your knowledge into the overmind!"
  %table#articles
    %thead
      %tr
        %th Title
        %th Author Name
        %th Body
        %th Creation Date
    %tbody= render partial: 'article_row', collection: Article.all

  %footer
    = "#{pluralize Article.count, "article"}."
