- title "Create Article"
- subtitle "... not just for the country of Spain"

=link_to "Back", @previous_page, title: "Return to the page from where you came"
%section
  %h1= "Creating a New Article"
  = render "form"

