- title "New Author"
- subtitle "A deconstruction of the modern webapp"
#controls
  =icon_to "Back", '@', authors_path, title: "Return to the page from where you came"
%section
  %h1 New Author
  = render 'form'
