@keyframes rainbow {
	0% {
		color: black;
	}
	65% {
		color:black;
	}
	70% {
		color: hsl(0, 100%, 50%);
	}
	75% {
		color: hsl(60, 100%, 50%);
	}
	80% {
		color: hsl(120, 100%, 50%);
	}
	85% {
		color: hsl(180, 100%, 50%);
	}
	90% {
		color: hsl(240, 100%, 50%);
	}
	95% {
		color: hsl(300, 100%, 50%);
	}
	100% {
		color: black;
	}
}
@keyframes icon {
	0% {
		color: hsl(330, 100%, 71%);
	}
	8% {
		color: hsl(360, 100%, 71%);
	}
	16% {
		color: hsl(30, 100%, 71%);
	}
	24% {
		color: hsl(60, 100%, 71%);
	}
	32% {
		color: hsl(90, 100%, 71%);
	}
	40% {
		color: hsl(120, 100%, 71%);
	}
	48% {
		color: hsl(150, 100%, 71%);
	}
	56% {
		color: hsl(180, 100%, 71%);
	}
	64% {
		color: hsl(210, 100%, 71%);
	}
	72% {
		color: hsl(240, 100%, 71%);
	}
	80% {
		color: hsl(270, 100%, 71%);
	}
	88% {
		color: hsl(300, 100%, 71%);
	}
	100% {
		color: hsl(330, 100%, 71%);
	}

}
