#products
  margin: 0 2em 0 1em
  float: left 
  width: 70%
  h1
    margin-bottom: 0

.product
  margin-left: 1em
  clear: both
  overflow: auto
  padding-bottom: 1em
  border-bottom: 1px solid #666
  img
    float: right
    margin-left: 1em

