%tr
  %td= link_to truncate(article_row.title, length: 20), article_row, title: article_row.title
  %td= truncate article_row.author.name, length: 20
  %td= truncate article_row.body, length: 20
  %td= article_row.created_at.strftime "%A, %B %e %Y"
  %td.actions
    =icon_to "Read", 'v', article_row, title: "Read"
    =icon_to "Edit", 'a', edit_article_path(article_row), title: "Edit"
    =icon_to "Delete", 'l', article_row, method: :delete, confirm: "Are you sure you want to delete this article?", title: "Delete"


