- title "Editing \"#{@article.title}\""
- subtitle "... my cousin works for Bit.ly"

=link_to "Back", session[:previous_page], title: "Return to the page from where you came", id: "back"
%section
  %h1= "Editing \"#{@article.title}\""
  = render "form"

