- title "Create Article"
- subtitle "... not just for the country of Spain"

=link_to "Back", articles_path, title: "Return to the page from where you came", id: "back"
%section
  %h1= "Creating a New Article"
  = render "form"

