- title "Create Article"
- subtitle "... not just for the country of Spain"

#controls
  =icon_to "Back", '@', articles_path, title: "Return to the page from where you came"
%section
  %h1= "Creating a New Article"
  = render "form"

